mixin video(info)
  div
    h4=info.title
    ul
      li Rating:#{info.rating}/5
      li #{info.comments} Comments.
      li Posted #{info.createdAt} 
      li #{info.views} Views.
      //- li ID:#{info.id}